body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./Images/344403.jpg);
    font-family: 'Arial';
    
}
.login{
        width: 382px;
        overflow: hidden;
        margin: 20px auto;
        padding: 50px;
        background-image: url(./Images/b.jpg);
        border-radius: 15px ;
        box-shadow: 0px 0px 10px 0px #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*background-color: rgba(255, 255, 255, 0.4); */
}

.logo-container {
    text-align: center; /* Centers the logo */
    /*padding: 20px 0; Adds some space around the logo */
    
}

.logo-container img {
    max-width: 200px;
    height: auto;
}

h1{
    text-align: center;
    font-weight: bold;
}

.user-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('./Images/user.png');
    background-size: cover;
    margin-right: 10px;
}

.lock-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('./Images/lock.png');
    background-size: cover;
    margin-right: 10px;
}

.login-container{
    
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    justify-content: center;
    margin: 10%;
}

#login-form{
    text-align: center;
}

label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

label .required {
    color: red;
    margin-left: 5px;
}

input{
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button{
    width: 90%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    background-image: linear-gradient(45deg, #ff00ff, #1400c4, #00a2ff);
    background-size: 200% 200%;
    transition: background-position 0.5s;
}

button:hover{
    background-position: right center;
}