body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
}

.header{
  padding:1.5rem 9%;
  background-color: aliceblue;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top:0; left:0; right:0;
  z-index: 1000;

  .logo img{
    width: 250px;
    height: 3.5rem;
    border-radius: 25px;
  }
}