/* all names regarding code completion are in README.txt file 
    as most files are collaborative*/

body {
  font-family: Arial, sans-serif;
  background-color: aliceblue;
  background-size: cover;
  background-position: center;
}

.header{
  overflow: hidden;
  background-color: #007BFF;
  background-size: 100%;
  background-position: center;
  background-repeat:no-repeat;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 0;
}

.header .logo{
  height: 100%;
  margin-left: 120px;
  display: flex;
  align-items: center;
}

.logo img{
  height: 70%;
  width: 100%;
  border-radius: 20px;
}