/* all names regarding code completion are in README.txt file 
    as most files are collaborative*/

body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./Images/344403.jpg);
    background-size:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.header{
    overflow: hidden;
    background-color: #007BFF;
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 0;
}

.header .logo{
    height: 100%;
    margin-left: 120px;
    display: flex;
    align-items: center;
}

img{
    height: 70%;
    width: 100%;
    border-radius: 20px;
}

h1{
    text-align: center;
    font-weight: bold;
}

.register-container{
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    justify-content: center;
    margin: 100px;
}

#login-form{
    text-align: center;
}

label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

label .required {
    color: red;
    margin-left: 5px;
}

input{
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button{
    width: 90%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
    background-image: linear-gradient(45deg, #ff00ff, #1400c4, #00a2ff);
    background-size: 200% 200%;
    transition: background-position 0.5s;
}

button:hover{
    background-position: right center;
}